
$color-ink: #20222a;        
$color-muted: #f5f4f0;      
$color-pill: #393D47;        
$color-accent: #e53935;      
$color-line: #dcdcdc;       
$color-icon: #6C707A;        
$color-white: #fff;
$color-subscribe:#eedac3;
$color-beer:#F2A900;
$color-wine:#622128;
$color-spirit:#4E4D98;
$color-border: #687597;
$ink: #20222a;
$muted: #f5f4f0;
$line: #e7e7e7;
$pill: #353844;
$accent: #ff5d2d;
$surface: #fff;

// _variables.scss
$font-heading: "Mango Grotesque", "Oswald", sans-serif;
$font-body: "Inter",'San Francisco', 'Inter', arial, sans-serif;

$fs-base: 16px;
$fs-sm: 14px;
$fs-lg: 18px;
$fs-xl: 22px;

$bp-lg: 1200px;
$bp-md: 992px;
$bp-sm: 640px;
